html {
  font-size: 100%;
}

body {
  background-color: #2E2C29;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #F2F1ED;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.container {
  max-width: 1000px;
  padding-inline: 16px;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .container {
    padding-inline: 32px;
  }
}

.wrapper {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .wrapper {
    padding-inline: 32px;
  }
}

.sec-title {
  text-align: center;
  border-bottom: 1px #000 solid;
  display: inline-block;
  font-size: 24px;
  margin-top: 120px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .sec-title {
    margin-top: 40px;
  }
}

.accent {
  color: #F2F1ED;
  border-bottom-color: #F2F1ED;
}

section {
  text-align: center;
}

.section-bg {
  background-color: #F2F1ED;
}

.section-gr {
  background-image: linear-gradient(34deg, #8c8989, #6f6f6f 33%, #2e2c29 60%);
}

.wpcf7-spinner {
  display: none !important;
}

.header {
  background-color: #26365A;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  max-width: 1000px;
  margin-inline: auto;
  position: relative;
}
@media (max-width: 767px) {
  .header .header-nav {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: 0.7s ease;
    z-index: 10;
    opacity: 1;
    width: 100%;
    height: 100vh;
  }
}
.header ul {
  display: flex;
}
@media (max-width: 767px) {
  .header ul {
    flex-direction: column;
  }
}
.header ul li {
  display: flex;
  margin-left: 20px;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
}

nav ul li a:hover {
  color: #B8962E;
  border-bottom: 2px solid #B8962E;
}

@media (max-width: 767px) {
  .hamburger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 22px;
    right: 18px;
    transition: 0.5s;
    background-color: #26365A;
    z-index: 20;
  }
}
@media (max-width: 767px) {
  .hamburger span {
    width: 30px;
    height: 2px;
    background-color: #F2F1ED;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 10px;
  }
}

@media (max-width: 767px) {
  .hamburger span:nth-child(1) {
    top: 14px;
  }
}

@media (max-width: 767px) {
  .hamburger span:nth-child(2) {
    top: 24px;
  }
}

@media (max-width: 767px) {
  .hamburger span:nth-child(3) {
    bottom: 14px;
  }
}

@media (max-width: 767px) {
  .mask {
    transition: 0.5s;
  }
}

@media (max-width: 767px) {
  .header.open .mask {
    width: 100%;
    height: 100%;
    background-color: #26365A;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .header.open .header-nav {
    left: 0;
    transform: translateX(0);
    opacity: 1;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 20;
  }
  .header.open .header-nav ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .header.open .header-nav ul li {
    width: 100%;
    border-bottom: 1px solid #F2F1ED;
    margin-left: 0;
  }
  .header.open .header-nav ul li a {
    padding-block: 16px;
    padding-left: 32px;
  }
}

.header.open .header-nav ul li:first-child {
  border-top: 1px solid #F2F1ED;
}

.header.open .hamburger span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}

.header.open .hamburger span:nth-child(2) {
  opacity: 0;
}

.header.open .hamburger span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

.facility {
  background-color: #F2F1ED;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .facility {
    padding-bottom: 64px;
  }
}
.facility .facility-intro {
  margin-bottom: 80px;
  text-align: left;
}
.facility .facility-flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .facility .facility-flex {
    flex-direction: column;
    align-items: center;
  }
}
.facility .facility-flex .facility-flex-item {
  width: 32%;
}
@media (max-width: 767px) {
  .facility .facility-flex .facility-flex-item {
    width: 100%;
    max-width: 480px;
    text-align: center;
    margin-bottom: 32px;
  }
}
.facility .facility-flex .facility-flex-item .facility-text-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.facility .facility-flex .facility-flex-item img {
  width: 100%;
  height: 200px;
  display: block;
}
@media (max-width: 767px) {
  .facility .facility-flex .facility-flex-item img {
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
}
.facility .facility-flex .facility-flex-item p {
  margin-top: 16px;
  text-align: center;
}

.amenities {
  color: #F2F1ED;
  margin-bottom: 120px;
}
@media (max-width: 767px) {
  .amenities {
    margin-bottom: 64px;
  }
}
.amenities .amenities-flex .amenities-flex-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .amenities .amenities-flex .amenities-flex-item {
    flex-direction: column;
  }
}
.amenities .amenities-flex .amenities-flex-item .amenities-text-title {
  font-weight: bold;
  margin-bottom: 32px;
}
.amenities .amenities-flex .amenities-flex-item .amenities-text {
  text-align: left;
  margin-right: 32px;
}
@media (max-width: 767px) {
  .amenities .amenities-flex .amenities-flex-item .amenities-text {
    text-align: center;
    margin-right: 0;
    margin-bottom: 32px;
  }
}
.amenities .amenities-flex .amenities-flex-item img {
  width: 460px;
  height: 300px;
}
.amenities .amenities-flex .amenities-flex-item-center {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .amenities .amenities-flex .amenities-flex-item-center {
    flex-direction: column-reverse;
    margin-inline: 24px;
  }
}
.amenities .amenities-flex .amenities-flex-item-center .amenities-text-title {
  font-weight: bold;
  margin-bottom: 32px;
}
.amenities .amenities-flex .amenities-text-center {
  text-align: left;
  margin-left: 32px;
}
@media (max-width: 767px) {
  .amenities .amenities-flex .amenities-text-center {
    text-align: center;
    margin-left: 0;
    margin-bottom: 32px;
  }
}
.amenities .amenities-flex img {
  width: 460px;
  height: 300px;
}

.personal {
  color: #F2F1ED;
  margin-bottom: 120px;
}
@media (max-width: 767px) {
  .personal {
    margin-bottom: 64px;
  }
}
.personal .personal-intoro {
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .personal .personal-intoro {
    text-align: center;
  }
}
.personal .personal-intoro p {
  display: inline-block;
  text-align: left;
}
.personal img {
  width: 1000px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.personal .personal-items {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .personal .personal-items {
    flex-direction: column;
    align-items: center;
  }
}
.personal .personal-items .personal-items-left {
  width: 40%;
  background-color: #F2F1ED;
  color: #2E2C29;
  padding: 24px 40px;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .personal .personal-items .personal-items-left {
    width: 70%;
    margin-bottom: 32px;
  }
}
.personal .personal-items .personal-items-left h3 {
  text-align: center;
  margin-bottom: 24px;
}
.personal .personal-items .personal-items-left ul {
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.personal .personal-items .personal-items-left .personal-items-list li {
  margin-bottom: 16px;
}
.personal .personal-items .personal-items-right {
  width: 40%;
  background-color: #F2F1ED;
  color: #2E2C29;
  padding: 24px 40px;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .personal .personal-items .personal-items-right {
    width: 70%;
  }
}
.personal .personal-items .personal-items-right h3 {
  margin-bottom: 24px;
}
.personal .personal-items .personal-items-right h3 {
  margin-bottom: 24px;
}
.personal .personal-items .personal-items-right ul {
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.personal .personal-items .personal-items-right .personal-items-list li {
  margin-bottom: 16px;
}

.trainer {
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .trainer {
    padding-bottom: 64px;
  }
}
.trainer .trainer-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .trainer .trainer-item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }
}
.trainer .trainer-item .trainer-profile {
  width: 30%;
  background-color: #2E2C29;
  color: #F2F1ED;
  text-align: left;
}
@media (max-width: 767px) {
  .trainer .trainer-item .trainer-profile {
    width: 70%;
    margin-bottom: 64px;
  }
}
.trainer .trainer-item .trainer-profile img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .trainer .trainer-item .trainer-profile img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.trainer .trainer-item .trainer-profile p {
  margin-top: 32px;
  margin-bottom: 24px;
  padding-inline: 32px;
}
.trainer .trainer-item .trainer-profile ul {
  margin-bottom: 32px;
  padding-inline: 32px;
}
.trainer .trainer-item .trainer-profile ul li {
  margin-bottom: 8px;
}

.trainer-text {
  background-color: #2E2C29;
  color: #F2F1ED;
  border-radius: 20px;
  text-align: left;
  padding: 40px;
}

.price {
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .price {
    padding-bottom: 64px;
  }
}
.price .price-plan {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .price .price-plan {
    flex-direction: column;
    align-items: center;
  }
}
.price .price-plan-item {
  width: 31%;
  background-color: #F2F1ED;
  border-bottom: 4px #6D6D6D solid;
  border-radius: 20px;
  text-align: left;
  padding: 32px;
}
@media (max-width: 767px) {
  .price .price-plan-item {
    width: 70%;
    margin-bottom: 40px;
  }
}
.price .price-plan-item p {
  margin-bottom: 16px;
}
.price .price-plan-item .price-money {
  font-weight: bold;
  font-size: 32px;
}
.price .price-plan-item ul li {
  margin-bottom: 16px;
}

.campaign {
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .campaign {
    padding-bottom: 64px;
  }
}
.campaign .campaign-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .campaign .campaign-grid {
    flex-direction: column;
  }
}
.campaign .campaign-grid .campaign-grid-item {
  width: 48%;
  text-align: left;
  background-color: #2E2C29;
  color: #F2F1ED;
  border-radius: 20px;
  padding: 32px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .campaign .campaign-grid .campaign-grid-item {
    width: 100%;
  }
}
.campaign .campaign-grid .campaign-grid-item .campaign-tag {
  background-color: #B8962E;
  color: #F2F1ED;
  border-radius: 20px;
  padding-block: 8px;
  padding-inline: 32px;
}
.campaign .campaign-grid .campaign-grid-item p {
  margin-top: 24px;
}

.option {
  margin-bottom: 120px;
}
@media (max-width: 767px) {
  .option {
    margin-bottom: 64px;
  }
}
.option .option-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.option .option-flex .option-flex-item {
  width: 31%;
  background-color: #F2F1ED;
  text-align: left;
  margin-bottom: 40px;
  padding: 24px;
  border-radius: 14px;
}
@media (max-width: 767px) {
  .option .option-flex .option-flex-item {
    width: 45%;
  }
}
.option .option-flex .option-flex-item .option-title {
  font-weight: bold;
}
.option .option-flex .option-flex-item p {
  margin-bottom: 16px;
}

.option .option-flex .option-flex-item p:last-child {
  margin-bottom: 0;
}

.contact {
  margin-bottom: 120px;
}
@media (max-width: 767px) {
  .contact {
    margin-bottom: 64px;
  }
}
.contact .form-list {
  text-align: left;
  background-color: #F2F1ED;
  border-radius: 20px;
  padding-inline: 56px;
  padding-block: 48px;
  margin-bottom: 40px;
}
.contact .form-list input {
  width: 100%;
  background-color: white;
  border: 1px solid #6D6D6D;
  padding: 10px;
  margin-bottom: 24px;
}
.contact .form-list textarea {
  width: 100%;
  height: 120px;
  background-color: white;
  border: 1px solid #6D6D6D;
  padding: 10px;
  margin-bottom: 24px;
}
.contact .form-list dt {
  margin-bottom: 8px;
}
.contact .button {
  width: 200px;
  text-align: center;
  color: #2E2C29;
  background-color: #B8962E;
  border-radius: 20px;
  border-bottom: 4px #6D6D6D solid;
  margin: 0 auto;
  padding-inline: 32px;
  padding-block: 16px;
  transition: 0.3s;
}
.contact .button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.blog .blog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .blog .blog-items {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
}
.blog .blog-items .blog-item {
  width: 30%;
  background-color: #2E2C29;
  color: #2E2C29;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .blog .blog-items .blog-item {
    width: 80%;
  }
}
.blog .blog-items .blog-item .blog-item-text {
  text-align: left;
  padding-inline: 40px;
  padding-block: 40px;
}
.blog .blog-items .blog-item .blog-item-title {
  text-align: left;
  font-size: 16px;
  margin-top: 40px;
  padding-inline: 40px;
}
.blog .blog-items .blog-item img {
  width: 100%;
  height: 190px;
}
@media (max-width: 767px) {
  .blog .blog-items .blog-item img {
    height: auto;
  }
}

.blog-post {
  padding-bottom: 120px;
}
.blog-post img {
  margin-top: 80px;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.blog-post .item-title {
  margin-block: 40px;
  text-align: left;
}
.blog-post .item-text {
  text-align: left;
}
.blog-post .readmore {
  margin-block: 40px;
  color: #2E2C29;
  background-color: #B8962E;
  border-radius: 20px;
  border-bottom: 4px #6D6D6D solid;
  padding-inline: 32px;
  padding-block: 16px;
  transition: 0.3s;
}
.blog-post .readmore:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

footer {
  background-color: #26365A;
}
footer .footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
}
@media (max-width: 767px) {
  footer .footer-inner {
    flex-direction: column;
  }
}
footer .footer-nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  footer .footer-nav {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}
footer .footer-nav .nav-menu-left {
  margin-left: 16px;
}
@media (max-width: 767px) {
  footer .footer-nav .nav-menu-left ul {
    display: flex;
    gap: 24px;
  }
}
footer .footer-nav .nav-menu-left ul li {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 16px;
}
footer .footer-nav .nav-menu-right {
  margin-left: 16px;
}
@media (max-width: 767px) {
  footer .footer-nav .nav-menu-right ul {
    display: flex;
    gap: 24px;
  }
}
footer .footer-nav .nav-menu-right ul li {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 16px;
}
footer dl {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: #F2F1ED;
}
footer dt {
  width: auto;
  margin-bottom: 16px;
}
footer dd {
  margin: 0;
  margin-bottom: 16px;
}

.mainvisual {
  width: 100%;
  position: relative;
}
.mainvisual img {
  width: 100%;
  height: 100vh;
}
@media (max-width: 767px) {
  .mainvisual img {
    height: auto;
  }
}
.mainvisual .catch-copy {
  position: absolute;
  top: 100px;
  left: 10%;
}
@media (max-width: 767px) {
  .mainvisual .catch-copy {
    top: 60px;
  }
}
.mainvisual .catch-copy .catch-copy-title {
  font-size: 56px;
  font-weight: bold;
  color: #2E2C29;
  text-shadow: 0 4px 6px #F2F1ED;
}
@media (max-width: 767px) {
  .mainvisual .catch-copy .catch-copy-title {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .blog {
    padding-bottom: 64px;
  }
}
.blog .items {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .blog .items {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}
.blog .items .item {
  width: 32%;
  background-color: #2E2C29;
  color: #F2F1ED;
}
@media (max-width: 767px) {
  .blog .items .item {
    width: 100%;
    margin-bottom: 40px;
  }
}
.blog .items .item img {
  height: 200px;
}
@media (max-width: 767px) {
  .blog .items .item img {
    height: auto;
  }
}
.blog .items .item .item-text {
  text-align: left;
  padding-block: 24px;
  padding-inline: 40px;
}
.blog .items .item-title {
  text-align: left;
  font-size: 16px;
  margin-top: 16px;
  padding-inline: 40px;
}
.blog .readmore {
  margin-block: 40px;
  color: #2E2C29;
  background-color: #B8962E;
  border-radius: 20px;
  border-bottom: 4px #6D6D6D solid;
  padding-inline: 32px;
  padding-block: 16px;
  transition: 0.3s;
}
.blog .readmore:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.reason {
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .reason {
    padding-bottom: 64px;
  }
}
.reason .reason-item {
  margin-bottom: 56px;
  position: relative;
}
@media (max-width: 767px) {
  .reason .reason-item {
    padding-block: 24px;
    margin-bottom: 40px;
  }
}
.reason .reason-text {
  text-align: left;
  padding: 32px;
}
.reason .reason-card {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  background-color: #F2F1ED;
}
@media (max-width: 767px) {
  .reason .reason-card {
    flex-direction: column;
  }
}
.reason .reason-card img {
  display: block;
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .reason .reason-card img {
    width: 100%;
    order: -1;
  }
}
.reason .reason-card p {
  margin-top: 16px;
}
.reason .reason-number {
  font-size: 96px;
  position: absolute;
  top: -60px;
  right: -20px;
  font-weight: 700;
  color: #B8962E;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
}
@media (max-width: 767px) {
  .reason .reason-number {
    right: 16px;
    bottom: 12px;
    top: auto;
    font-size: 48px;
  }
}
.reason .slide-left {
  animation: slide-left 1s ease-out 0s 1 forwards;
}
@keyframes slide-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.reason .slide-right {
  animation: slide-right 1s ease-out 0s 1 forwards;
}
@keyframes slide-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.reason .inview-slide-left {
  opacity: 0;
}
.reason .inview-slide-right {
  opacity: 0;
}

.reason-item:nth-of-type(even) .reason-number {
  left: -20px;
  right: auto;
}
@media (max-width: 767px) {
  .reason-item:nth-of-type(even) .reason-number {
    left: 20px;
  }
}

.top-trainer {
  position: relative;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .top-trainer {
    padding-bottom: 64px;
  }
}
.top-trainer .top-trainer-flex {
  display: flex;
}
@media (max-width: 767px) {
  .top-trainer .top-trainer-flex {
    flex-direction: column;
  }
}
.top-trainer .top-trainer-flex img {
  width: 330px;
}
@media (max-width: 767px) {
  .top-trainer .top-trainer-flex img {
    width: 100%;
  }
}
.top-trainer .top-trainer-flex p {
  text-align: left;
  margin-left: 80px;
}
@media (max-width: 767px) {
  .top-trainer .top-trainer-flex p {
    text-align: center;
    margin: 24px;
  }
}
.top-trainer .readmore {
  color: #2E2C29;
  background-color: #B8962E;
  border-radius: 20px;
  border-bottom: 4px #6D6D6D solid;
  padding-inline: 32px;
  padding-block: 16px;
  position: absolute;
  right: 40px;
  bottom: 80px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .top-trainer .readmore {
    text-align: center;
    position: static;
    margin-top: 24px;
  }
}
.top-trainer .readmore:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.gym-overview {
  color: #F2F1ED;
  padding-bottom: 80px;
  border-bottom: 3px #B8962E solid;
}
.gym-overview .gym-overview-content {
  display: flex;
}
@media (max-width: 767px) {
  .gym-overview .gym-overview-content {
    flex-direction: column;
  }
}
.gym-overview h3 {
  margin-bottom: 16px;
}
.gym-overview .gym-overview-flex {
  width: 50%;
  text-align: left;
}
@media (max-width: 767px) {
  .gym-overview .gym-overview-flex {
    width: calc(100% - 48px);
  }
}
.gym-overview img {
  width: 50%;
  margin-left: 40px;
}
@media (max-width: 767px) {
  .gym-overview img {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .gym-overview .gym-btn {
    text-align: center;
    margin-bottom: 24px;
  }
}
.gym-overview .gym-overview-btn {
  color: #2E2C29;
  background-color: #B8962E;
  border-radius: 20px;
  border-bottom: 4px #6D6D6D solid;
  padding-inline: 32px;
  padding-block: 16px;
  margin-right: 32px;
  margin-top: 32px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .gym-overview .gym-overview-btn {
    margin-inline: 32px;
  }
}
.gym-overview .gym-overview-btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.voice {
  border-bottom: 3px #B8962E solid;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .voice {
    border-bottom: 80px;
  }
}
.voice .voice-item {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}
@media (max-width: 767px) {
  .voice .voice-item {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.voice .voice-item-center {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .voice .voice-item-center {
    flex-direction: column;
  }
}
.voice .voice-flex {
  text-align: left;
  background-color: #F2F1ED;
  border-radius: 30px;
  padding-inline: 16px;
  padding-block: 24px;
  margin-left: 32px;
  position: relative;
}
@media (max-width: 767px) {
  .voice .voice-flex {
    width: 100%;
    margin-inline: 24px;
    margin-bottom: 32px;
  }
}
.voice .voice-flex h3 {
  margin-bottom: 16px;
}
.voice .voice-flex .voice-text {
  margin-bottom: 16px;
}
.voice .voice-flex .voice-age {
  text-align: right;
}
.voice .voice-item:last-child {
  margin-bottom: 0;
}
.voice .voice-flex-center {
  text-align: left;
  background-color: #F2F1ED;
  border-radius: 30px;
  padding-block: 24px;
  padding-inline: 16px;
  margin-right: 32px;
  position: relative;
}
@media (max-width: 767px) {
  .voice .voice-flex-center {
    width: 100%;
    margin-bottom: 32px;
    margin-inline: 24px;
  }
}
.voice .voice-flex-center h3 {
  margin-bottom: 16px;
}
.voice .voice-flex-center .voice-text {
  margin-bottom: 16px;
}
.voice .voice-flex-center .voice-age {
  text-align: right;
}

.voice .voice-item .voice-flex::before {
  content: "";
  position: absolute;
  top: 53%;
  left: 1px;
  margin-left: -30px;
  border: 15px solid transparent;
  border-right: 15px solid #F2F1ED;
}
@media (max-width: 767px) {
  .voice .voice-item .voice-flex::before {
    top: 100%;
    border-top: 15px solid #F2F1ED;
    border-right: 15px solid transparent;
    left: 53%;
  }
}

.voice .voice-item-center .voice-flex-center::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  margin-right: -30px;
  border: 15px solid transparent;
  border-left: 15px solid #F2F1ED;
}
@media (max-width: 767px) {
  .voice .voice-item-center .voice-flex-center::before {
    top: 100%;
    right: auto;
    left: 50%;
    margin-right: 0;
    transform: translateX(-50%);
    border: 15px solid transparent;
    border-top: 15px solid #F2F1ED;
  }
}

.faq {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .faq {
    margin-bottom: 64px;
  }
}
.faq .faq-item {
  max-width: 800px;
  margin: 0 auto;
}
.faq .faq-item .faq-item-panel {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.faq .faq-item .faq-item-panel .faq-panel-header {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F2F1ED;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
}
.faq .faq-item .faq-item-panel .faq-panel-header .faq-panel-icon {
  display: inline-block;
  font-size: 20px;
  transition: transform 0.3s ease;
}
.faq .faq-item .faq-item-panel .faq-panel-header .faq-panel-icon.active {
  transform: rotate(45deg);
}
.faq .faq-item .faq-panel-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
.faq .faq-item .faq-panel-content .faq-panel-body {
  background-color: #2a2a2a;
  color: #F2F1ED;
  text-align: left;
  padding: 20px;
  border-top: 1px solid #eee;
}

.faq-panel-header:hover {
  background-color: #f8f9fa;
}/*# sourceMappingURL=style.css.map */